<footer>
    <div class="footer-logo">
        <img src="{{ '/images/CoryFreestyleLogoBlueWithGoldOutline.png' | relative_url }}" alt="Cory Freestyle Full Logo">
    </div>
    <div class="contact-info">
        <div class="contact-header">Contact</div>
        <a href="mailto:info@coryfreestyle.com" style="text-decoration: underline;">info@coryfreestyle.com</a>
    </div>
    <div class="social-media">
        <div class="social-media-header">Social Media</div>
        <a href="https://www.instagram.com/coryfreestyle/" target="_blank">
            <img src="{{ '/images/instagram-48.png' | relative_url }}" alt="Instagram Icon"> Instagram
        </a>
        <a href="https://www.facebook.com/coryblackfs" target="_blank">
            <img src="{{ '/images/facebook-48.png' | relative_url }}" alt="Facebook Icon"> Facebook
        </a>
    </div>
    <div class="resume">
        <div class="resume-header">Résumé</div>
        <a href="{{ '/assets/CoryBlack-Resume.pdf' | relative_url }}" style="text-decoration: underline;" target="_blank">Download my résumé</a>
    </div>
    <div class="copyright">
        &copy; {{ 'now' | date: '%Y' }} Cory Black. All rights reserved.
    </div>
</footer>
